/* Desarrollo de estilos por parte de Diana */

/* Estas son las variables con los colores */
:root { 
    /* Colores */
    --azul-biblioteca: #2A4D8F;
    --fondo-general: #F8F9FA;
    --fondo-secundarios: #E1E5EB;
    --h1:#212529;
    --h2:#6C757D;
    --verde-academico: #5DA271;
    --enfasos-en-botones: #F6A623;
    --bordes-1:#DADDE1;
    --bordes-2: #3A3D42;
    --fondo-header:#D9D9D9;
    --fondo-titulo-body:#A8B29F;

    /* Tipografías */

        /* Fuentes base */
    --fuente-base: 'Inter', sans-serif;

    /* Tamaños de fuente */
    --h1-size: 32px;
    --h2-size: 24px;
    --h3-size: 20px;
    --h4-size: 20px;
    --parrafo-size: 16px;
    --texto-secundario-size: 14px;
    --boton-size: 13px;
    --cita-size: 18px;

    /* Pesos de fuente */
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;
  }

  * {
    box-sizing: border-box;
}

.containerGeneral{
  display: flex;
  padding: 40px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  border: 1px solid var(--bordes-1);
  background: var(--fondo-secundarios);
  }

  .formulario{
  display: flex;
  padding: 40px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  }

  .tituloPrincipal{
    font-family: var(--fuente-base);
    font-size: var(--h1-size);
    font-weight: var(--semi-bold);
    color: var(--h1);
    text-align: center;
  }

  /* Diana, entregar estilos del logo, título, campos del form(rut, nombre, correo, etc) y botones
  (Todos los estilos tienen que estár de acuerdo a lo planteado en Figma) */